/*
Theme Name: Wp Bootstrap Theme
Theme URI: http://www.livicode.com
Author: Femi Yale
Author URI: http://www.livicode.com
Description: Just testing the bootstrap theme dev
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: special theme, owoyale
Text Domain: Wp Theme bootstrap

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 0px;
  margin-left: 0px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*my custom style*/
.showcase{
	height: 600px;
	padding: 100px 20px;
	text-align: center;
	border-bottom: #ccc 1px solid;
	color: #fff;
	background:url('img/header_img.jpg') no-repeat center center;
}

.showcase h1{
	font-size: 55px;
	padding-bottom: 20px;
	color: #fff;
}

.showcase p{
	font-size: 20px;
	margin-bottom: 50px;

}

.boxes{
	text-align: center;
	background:#fff;
	margin-bottom: 30px;
	padding-top: 50px;

}

.box .fa{
	font-size: 45px;
	margin-bottom: 10px;
}

.box{
	padding: 15px;
	border:#ccc 1px solid;
}

.blog-nav a{
	color: #fff;

}


.blog-nav a:hover{
	color: #666;
}

.post-thumb img{
	width: 100%;
	height: auto;
	margin-bottom: 8px;
}

.comments{
	border:1px #ccc solid;
	padding:10px;
	margin-bottom: 20px;
	margin-top: 10px;
}


.comments h3, 
.comments h2{
	background:#f4f4f4;
	color: #333;
	padding: 5px;

}

.comment-body{
	border:#ccc solid 1px;
	margin-bottom: 10px;
	padding:20px 10px;

}

.comment-meta{
	background:#428bca;
	color: #fff;
	padding:10px;
	overflow: auto;
}

.comment-meta a{
	color: #fff;
}
.comment-meta img{
	float: left;
	margin-right: 10px;
}
.comment-reply-link{
	background:#428bca;
	color: #fff;
	display: inline-block;
	padding:10px 15px;
}

.comment-form input, 
.comment-form textarea{
	width: 100%;
	padding:4px;
	border:#ccc solid 1px;
	margin-bottom: 15px;
}

.post-gallery{
	background: #333;
	color:#fff;
	padding:10px;
	text-align: center;
}

.post-gallery h2{
	color: #fff;
}